<form method="post" id="crear-curso">
  <div class="form-group">
    <label for="codigo">Código del curso:</label>
    <input type="text" name="codigo" id="codigo" class="form-control">
    <div id="codigo-error"></div>
  </div>
  <div class="form-group">
    <label for="curso">Nombre del curso:</label>
    <input type="text" name="curso" id="curso" class="form-control">
  </div>
  <div class="form-group">
    <label for="profesor">Profesor jefe:</label>
    <select class="form-select" id="select-profesores">
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Crear curso</button>
  </div>
</form>