<form id="micuenta-form">
  <div class="contenedor-datos">
    <div class="form-group">

      <div class="row">
        <div class="col-md-6">
          <label for="nombres">Nombres:</label>
          <input type="text" class="form-control" id="inputInfo1" name="nombres" disabled="true">
        </div>
        <div class="col-md-6">
          <label for="nombres">Apellidos:</label>
          <input type="text" class="form-control" id="inputInfo2" name="apellidos" disabled="true">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="inputInfo3" name="email" disabled="true">
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="telefono">Teléfono:</label>
          <input type="tel" class="form-control" id="inputInfo4" name="telefono" disabled="true">
        </div>
        <div class="col-md-6">
          <label for="direccion">Dirección:</label>
          <input type="text" class="form-control" id="inputInfo5" name="direccion" disabled="true">
        </div>
      </div>
      <div class="form-group">
        <label for="rol">Rol:</label>
        <input type="text" class="form-control" id="inputInfo6" name="rol" disabled="true">
      </div>

    </div>

  </div>
  <div class="form-group mt-2">
    <button class="form-control btn btn-info" id="btnModificar">Modificar información</button>
    <button class="form-control btn btn-success mt-2" id="btnGuardar">Salvar cambios</button>
  </div>
</form>