<div class="row">
  <h3>Mi curso</h3>
  <div class="row">
    <form method="get" id="form-info-curso">
      <div class="form-group">
        <label for="curso" class="form-label">Curso:</label>
        <input type="text" name="nombre_curso" id="nombre_curso" class="form-control" disabled>
      </div>
      <div class="form-group">
        <label for="curso" class="form-label">Profesor jefe:</label>
        <input type="text" name="profesor_jefe" id="profesor_jefe" class="form-control" disabled>
      </div>
    </form>
  </div>
  
  
</div>